<section class="phx-hero">
  <h1><%= plural_of(@product, @count) %></h1>
  <div class="container">
    <img src="<%= Routes.static_path(@conn, "/images/my_little_pony.png") %>" alt="My Little Ponny"/>
  </div>
</section>
